body {
	background-color: #80d6a4;
}

.main-container {
	width: 50%;
  margin: auto;
}

.form {
	background-color: #2d2d2d;
	width: 100%;
  margin: auto;
}

h1 {
	font-family: 'Special Elite', cursive;
	color: white;
	text-align: center;
  padding-top:2%;
}

h2 {
    font-family: 'Special Elite', cursive;
    color: white;
    text-align: center;
    line-height: 30px;
}

h3{
  color: white;
  text-align: center;
  line-height: 30px;
  width:100%;
  display: inline-block;
}

button {
    margin: 15px auto;
    background-color: #b75052;
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 100%;
    display: inline-block;
    border: none;
    color: white;
    padding: 15px 32px;
    width:25%;
    display: block;

}

.form-input {
    text-align: center;
    font-size: 100%;
    width: 100%;
    font-family: open sans;
    font-style: normal;
}

#zodiacImage {
  margin: 15px auto;
	width: 100%;
  display:inline-block;
  text-align: center;



}
